* {
	box-sizing: border-box;
}

body {
	background-color: #191919;
	font-family: sans-serif;
	color: white;

}

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: flex-end;

}

nav ul li a {
	text-decoration: none;
	margin: 1rem;
	color: white;
}

.main-image {
	display: flex;
	padding: 40px;
	width: 100%;
	margin: 2rem;

}

.section-episode button {
	border: none;
	background-color: #118DA8;
	border-radius: 6px;
	width: 178px;
	height: 51px;
	color: white;
	justify-content: flex-end;
	display: block;
	float: right;



}

.main-image {
	display: flex;
	padding: 38px;
	width: 100%;

}


.section-episode button {
	border: none;
	background-color: #118DA8;
	border-radius: 6px;
	width: 178px;
	height: 51px;
	color: white;
	justify-content: flex-end;
	display: block;
	font-family: 'DM Sans';
}

* {
	box-sizing: border-box;
}

body {
	font-size: 10px;
	background-color: #191919 ;
	color:  white;
}


.container {
	/* задать ширину и выровнять по середине */
	max-width: 280px;
	margin: 0 auto;
}

.row {
	/* строка */
	display: flex;
	flex-wrap: wrap;
}

[class^="col"] {
	background: #191919;
	border-style: none;
	

}

.col-1 {
	background: #191919;
}

.col-2 {
	flex: 16.6% 0 0;
}

.col-3 {
	flex: 25% 0 0;
}

.col-4 {
	flex: 33.3% 0 0;
}

.col-5 {
	flex: 41.6% 0 0;
}

.col-6 {
	flex: 50% 0 0;
}

.col-7 {
	flex: 58.3% 0 0;
}

.col-8 {
	flex: 66.6% 0 0;
}

.col-9 {
	flex: 75% 0 0;
}

.col-10 {
	flex: 83% 0 0;
}

.col-11 {
	flex: 91.6% 0 0;
}

.col-12 {
	flex: 100% 0 0;
}